<form [formGroup]="gameForm" class="max-w-lg mx-auto p-6 bg-white shadow-md rounded-lg">
    <div class="mb-4">
        <label for="name" class="block text-gray-700 text-sm font-bold mb-2">Nome:</label>
        <textarea formControlName="name" placeholder="Nome"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="mb-4">
        <label for="preco" class="block text-gray-700 text-sm font-bold mb-2">Preço:</label>
        <input type="text" inputmode="numeric" formControlName="price" placeholder="Preço"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
            (input)="validateNumber($event)" />
    </div>
    <div class="mb-4">
        <label for="dimensao" class="block text-gray-700 text-sm font-bold mb-2">Dimensões da Caixa:</label>
        <div class="flex space-x-2">
            <input type="text" inputmode="numeric" formControlName="boxLength" placeholder="Comprimento"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                (input)="validateNumber($event)" />
            <input type="text" inputmode="numeric" formControlName="boxWidth" placeholder="Largura"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                (input)="validateNumber($event)" />
            <input type="text" inputmode="numeric" formControlName="boxHeight" placeholder="Altura"
                class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                (input)="validateNumber($event)" />
        </div>
    </div>
    <div class="mb-4">
        <label for="descricao" class="block text-gray-700 text-sm font-bold mb-2">Descrição:</label>
        <textarea formControlName="description" placeholder="Descrição"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"></textarea>
    </div>
    <div class="mb-4">
        <label for="imagem" class="block text-gray-700 text-sm font-bold mb-2">Imagem da Capa:</label>
        <input formControlName="coverImage" placeholder="Imagem da Capa"
            class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" />
    </div>
    <button (click)="onSubmit()" type="submit"
        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">Cadastrar
        Jogo</button>
</form>
<div *ngIf="message" class="success-message text-green-500 text-center mt-4">
    {{ message }}
</div>
<app-navigation-button [route]="'/'" [text]="'Voltar para Vitrine'"></app-navigation-button>